.site--footer {
	background: $baseColorDark;
	color: white;
	padding: $baseFontSize/2;
	p, li { font-size: $baseFontSize * .875; } 
	&_column {
		border-top: 1px solid white;
		padding: 1rem .5rem;
	}
	&_copy {

	}
}
