.site--header {
	background: $baseColor;
	padding: .5rem 1rem;
	.container {
		margin: 0;
		padding: 0;
	}
	&_logo {
		margin: 0 2rem 0 0;
		float: left;
		line-height: 1;
		padding: .125rem 0;
		a {
			display: block;
		}
	}
	&_actions {
		float: left;
		@include mq(handhelds) {
			width: 100%;
		}
	}
	&_search {
		display: block;
		float: left;
		height: 100%;
		margin: 0 .5rem;
		input[type='text'] {
			display: block;
			min-height: 100%;
			padding: .5rem .5rem;
			background: $baseColorDark;
			color: white;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
	}
	a {
		color: white;
		&:hover {
			color: $baseColorDark;
		}
	}
	.btn {
		border-color: white;
		margin-top: 0;
		margin-bottom: 0;
		padding: .5rem 1rem;
		&:hover {
			color: white;
			background: $baseColorDark;
		}
	}
}
