.hero {
    background: url('../img/taxis_hero.jpg') no-repeat center bottom / cover;
    color: $black;
    padding: 2.5rem 1rem;
    text-align: center;
    min-height: 25rem;
    width: 100%;
    h1 {
        font-weight: 700;
        font-size: 4.5rem;
        margin-bottom: 1rem;
     }
     .btn { display: inline-block; }
     .container {
         background: rgba($offwhite, .925);
         max-width: 40rem;
         border-radius: .5rem;
         padding: 3rem 1rem;
     }
}
