.sidebar {
	max-width: 20rem;
	&--headline {
		&::after {
			content: "";
			display: block;
			height: 2px;
			width: 4rem;
			margin: .5rem 0;
			background: $bluegreen;
		}
	}
	ul {
		list-style: inside none;
		li {
			padding: .25rem 0;
			border-bottom: 1px solid;
			&:last-of-type {
				border-bottom: 0;
			}
		}
	}
}
