// .btn {
//   text-align: center;
//   padding: 1rem 2rem;
//   font-weight: 700;
//   text-decoration: none;
//   border: 3px solid darken($dark-blue, 5%);
//   border-radius: .625rem;
//   color: $offwhite;
//   font-size: 1rem;
//   background: linear-gradient($blue 75%, $dark-blue);
//   transition: background $transition-duration ease, color $transition-duration ease;
//   display: inline-block;
//   // text-shadow: 0 0 .25rem rgba($black, .5);
//   &:hover, &:focus {
//     background: linear-gradient($dark-blue 75%, $blue);
//     color: $offwhite;
//   }
//   &--red {
//       color: $offwhite;
//       background: linear-gradient($red 75%, $dark-red);
//       border-color: darken($dark-red, 5%);
//       &:hover, &:focus {
//           background: linear-gradient($dark-red 75%, $red);
//       }
//   }
//   &--green {
//       color: $offwhite;
//       background: linear-gradient($green, $dark-green);
//       border-color: darken($dark-green, 5%);
//       &:hover, &:focus {
//           background: linear-gradient($dark-green 75%, $green);
//       }
//   }
//   &--yellow {
//       color: $offwhite;
//       background: linear-gradient($yellow, $dark-yellow);
//       border-color: darken($dark-yellow, 5%);
//       &:hover, &:focus {
//           background: linear-gradient($dark-yellow 75%, $yellow);
//       }
//   }
// }


.btn {
  text-align: center;
  padding: .5rem 2rem;
  font-weight: 400;
  text-decoration: none;
  border: 2px solid rgba($dark-blue, .5);
  border-radius: .5rem;
  color: $blue;
  font-size: $baseFontSize + .125rem;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: all $transition-duration ease;
  margin: .5rem;
  display: inline-block;
  // width: 100%;
  max-width: 25rem;
  .icon { fill: currentColor; }
  @include respond-to(handhelds) {
    display: block;
    margin: .5rem 0;
  }
  &:hover, &:focus {
    background: $dark-blue;
    color: $offwhite;
  }
  &--red {
      color: $red;
      border-color: rgba($dark-red, .5);
      &:hover, &:focus { background: $dark-red; }
  }
  &--green {
      color: $green;
      border-color: rgba($dark-green, .5);
      &:hover, &:focus { background: $dark-green; }
  }
  &--yellow {
      color: $yellow;
      border-color: rgba($dark-yellow, .5);
      &:hover, &:focus { background: $dark-yellow; }
  }
}

.btnalt {
  text-align: center;
  padding: 1rem 2rem;
  font-weight: 700;
  text-decoration: none;
  border-bottom: .125rem solid darken($dark-blue, 12.5%);
  border-radius: .375rem;
  color: white;
  font-size: $baseFontSize + ($baseFontSize/4);
  background: $blue;
  -webkit-appearance: none;
  -moz-appearance: none;
  transition: all $transition-duration ease;
  margin: .5rem;
  display: inline-block;
  max-width: 25rem;
  .icon { fill: currentColor; }
  @include respond-to(handhelds) {
    display: block;
    margin: .5rem 0;
  }
  &:hover, &:focus {
    background: $dark-blue;
    border: 0;
  }
  &--red {
      background: $red;
      border-color: darken($dark-red, 12.5%);
      &:hover, &:focus { background: $dark-red; }
  }
  &--green {
      background: $green;
      border-color: darken($dark-green, 12.5%);
      &:hover, &:focus { background: $dark-green; }
  }
  &--yellow {
      background: $yellow;
      border-color: darken($dark-yellow, 12.5%);
      &:hover, &:focus { background: $dark-yellow; }
  }
}
