.comment {
    // display: block;
    margin-top: .5rem;
    margin-bottom: .5rem;
    float: left;
    &::after {
      @extend %clearfix;
    }
    &--info {
      margin-bottom: 1rem;
      &::after {
        @extend %clearfix;
      }
      &_meta {
        text-transform: uppercase;
        font-size: .875rem;
        float: right;
        @include mq(handhelds) {
          float: none;
        }
      }
      &_name {
        display: inline-block;
        vertical-align: middle;
      }
      &_avatar {
        display: inline-block;
        vertical-align: middle;
        .icon {
          width: 3rem;
          height: 3rem;
        }
      }
    }
    &--reply {

    }
    &--body {
      margin-bottom: 1rem;
      border-left: .25rem solid $baseColor;
      padding-left: 1rem;
      p {
        @include mq(handhelds) { font-size: .875rem; }
      }
    }
    &--thread {
        list-style: none inside;
        li {
            width: 100%;
            padding: 1rem;
            display: block;
            ul {
              list-style: none inside;
              margin: 0 0 0 1rem;
            }
        }
        &_child {
            &::after {
              @extend %clearfix;
            }
            li {
              background: lighten($black, 75%);
            }
        }
    }
}
