<div class="container">
	<h3 class="section--heading">Articles</h3>
	<article class="post--full">
		<header class="post--header_ctr">
			<h1>I am a Fucking Post</h1>
		</header>
		<section class="post--entry">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas eos nemo facere adipisci odio fuga labore, quisquam at. Officia quod eum natus eligendi quia aut illo architecto recusandae ullam laborum!</p>
			<p>Suscipit, esse, ducimus? Ipsa reprehenderit omnis similique ea consectetur quod magnam error non debitis in, totam impedit tempora, nam modi, fuga libero! Doloribus, laborum eveniet eaque amet maiores, officiis alias.</p>
			<p>Cupiditate corporis itaque quas, voluptatum eveniet debitis officia illum earum, ex sunt ratione iste, expedita, nesciunt nam est maxime voluptatibus blanditiis labore nemo explicabo omnis. Autem corrupti consequatur harum provident?</p>
			<p>Iusto deleniti sequi earum assumenda? Quasi, odio officiis id maiores repellat totam culpa adipisci facere sint sed sapiente similique voluptatem blanditiis ratione corrupti, quia, perferendis rem? Non eius, esse similique!</p>
			<p>Sint iure aliquid commodi eius, quasi saepe eveniet quia, illum accusamus, rerum deserunt obcaecati aut provident et laborum. Quae voluptates, cumque perferendis. Suscipit praesentium reprehenderit quaerat sint laborum vero officia?</p>
		</section>
	</article>
</div>
