<div class="container" id="footers">
	<h3 class="section--heading">Footer</h3>

	<footer class="site--footer">
		<div class="container">
			<div class="col-1-4 site--footer_column">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus minima pariatur repellendus in laborum laboriosam nemo cumque, molestias libero consequatur velit sint ad rerum, voluptate, veritatis voluptas itaque soluta earum!</p>
				<p>Ipsa illum quia sunt voluptatum labore suscipit rem similique adipisci facilis, animi impedit enim, fugit possimus voluptatem quibusdam dolorum, voluptates harum porro, ipsum iste ea provident! Et enim praesentium, illo!</p>
			</div>
		</div>
	</footer>
</div>
