<div class="container" id="headers">
	<h3 class="section--heading">Headers</h3>
	<header class="site--header">
		<div class="container">
			<h1 class="site--header_logo"><a href="#0">Arsenal</a></h1>
			<form action="" class="site--header_search">
				<input type="text" />
			</form>
			<div class="site--header_actions">
				<a href="#0" class="btn">Login</a>
				<a href="#0" class="btn">Sign Up</a>
			</div>
			<nav class="site--header_nav nav--main">
				<ul class="right">
					<li><a href="#0">Link #1</a></li>
					<li><a href="#0">Link #2</a></li>
					<li><a href="#0">Link #3</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<br />
	<header class="site--header">
		<div class="container">
			<h1 class="site--header_logo"><a href="#0">Arsenal</a></h1>
			<form action="" class="site--header_search">
				<input type="text" />
			</form>
			<div class="site--header_actions">
				<a href="#0" class="btn">Login</a>
				<a href="#0" class="btn">Sign Up</a>
			</div>
			<nav class="site--header_nav nav--main">
				<ul class="right">
					<li><a href="#0">Link #1</a></li>
					<li><a href="#0">Link #2</a></li>
					<li><a href="#0">Link #3</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<br />
	<header class="site--header">
		<div class="container">
			<h1 class="site--header_logo"><a href="#0">Arsenal</a></h1>
			<form action="" class="site--header_search">
				<input type="text" />
			</form>
			<div class="site--header_actions">
				<a href="#0" class="btn">Login</a>
				<a href="#0" class="btn">Sign Up</a>
			</div>
			<nav class="site--header_nav nav--main">
				<ul class="right">
					<li><a href="#0">Link #1</a></li>
					<li><a href="#0">Link #2</a></li>
					<li><a href="#0">Link #3</a></li>
				</ul>
			</nav>
		</div>
	</header>
</div>
