<div class="container">
	<h3 class="section--heading">Sidebars</h3>
	<aside class="sidebar">
		<div class="sidebar--widget">
			<h3 class="sidebar--headline">Categories</h3>
			<ul>
				<li><a href="">Breaking News</a></li>
				<li><a href="">Entertainment</a></li>
				<li><a href="">Sports</a></li>
				<li><a href="">Politics</a></li>
				<li><a href="">Chocolate</a></li>
			</ul>
		</div>
		<div class="sidebar--widget">
			<h3 class="sidebar--headline">Recent Stories</h3>
			<ul>
				<li><a href="">BREAKING: Movie Studios are Out of Ideas</a></li>
				<li><a href="">Judge Strikes Down NC Gay Marriage Ban</a></li>
				<li><a href="">Avocados Proven to Absolutely Terrible</a></li>
				<li><a href="">Childish Gambino is Afraid of Dolphins</a></li>
			</ul>
		</div>
		<div class="sidebar--widget">
			<h3 class="sidebar--headline">Recent Stories</h3>
			<ul>
				<li><a href="">Link #1</a></li>
				<li><a href="">Link #2</a></li>
				<li><a href="">Link #3</a></li>
				<li><a href="">Link #4</a></li>
			</ul>
		</div>
	</aside>
</div>
