html {
  font: $baseFontWeight 100%/1.5 $sans-serif;
  color: $text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 700;
  margin: 0 0 .5rem;
  line-height: 1.2;
}

h1 {
  font-size: $baseFontSize + $baseFontSize;
  @at-root .#{&} { @extend h1; }
}

h2 {
  font-size: $baseFontSize + ($baseFontSize*.75);
  @at-root .#{&} { @extend h2; }
}

h3 {
  font-size: $baseFontSize + ($baseFontSize/2);
  @at-root .#{&} { @extend h3; }
}

h4 {
  font-size: $baseFontSize + ($baseFontSize/4);
  @at-root .#{&} { @extend h4; }
}

h5 {
  font-size: $baseFontSize + ($baseFontSize/8);
  @at-root .#{&} { @extend h5; }
}

h6 {
  font-size: $baseFontSize;
  @at-root .#{&} { @extend h6; }
}

p {
    margin-bottom: 1rem;
    max-width: 38rem;
    font-size: $baseFontSize;
    word-wrap: break-word;
    text-rendering: optimizeLegibility;
    &:last-of-type {margin-bottom: 0;}
}

b, strong { font-weight: bold; }

i, em { font-style: italic; }

a {
  text-decoration: none;
  color: $blue;
  transition: all $transition-duration $transition-func;
}

ul, ol {
    list-style-position: inside;
    padding: 0;
    margin: .5rem 0;
    li {
        ul {
            margin-left: 1rem;
        }
    }
}

blockquote {
    padding: 1.5rem 0;
    font-style: italic;
    margin: 1rem 0;
    color: $blue;
    &::after {
      content: "";
      width: 5rem;
      height: 2px;
      display: block;
      margin: .5rem 0;
      background: $blue;
    }
    p {
        line-height: 1.6;
        font-weight: 300;
        font-size: $baseFontSize + ($baseFontSize/4);
    }
}
