// colors
$offwhite: #fffcfc;
$black: #202020;
$red: #d04d36;
// $blue: #5486a4;
$blue: #147AAB;
$yellow: #ffba00;
$green: #6cc034;
$gray: #ccc;
$text: #484848;

//dark colors
$dark-red: #c6432c;
$dark-blue: #337799;
$dark-yellow: #f5b300;
$dark-green: #5ba221;

// fonts
$serif: "Georgia", Georgia, serif;
$sans-serif: "Avenir", "Helvetica", "Helvetica Neue", "fira-sans", Helvetica, Arial, "Lucida Grande", sans-serif;
