// colors
$offwhite: #f0f0f0;
$black: #202020;
$red: #d04d36;
// $blue: #5486a4;
$blue: #147AAB;
$yellow: #ffba00;
$green: #6cc034;
$gray: #ccc;
$text: #484848;
$text: #484848;

//dark colors
$dark-red: #c6432c;
$dark-blue: #337799;
$dark-yellow: #f5b300;
$dark-green: #5ba221;

// fonts
$serif: "Georgia", Times, serif;
$sans-serif: "Open Sans", "Avenir", "Helvetica", "Helvetica Neue", "fira-sans", Helvetica, Arial, "Lucida Grande", sans-serif;

// z-index
$z-layers: (
  "top":            9999,
  "almost-top":     9998,
  "default":            1,
  "below":             -1,
  "waydownthere":   -9000
)
