// colors
// $blue: #5486a4;
$offwhite: #f0f0f0;
$black: #202020;
$red: #d04d36;
$blue: #147AAB;
$bluegreen: #1d889d;
$yellow: #ffba00;
$ygreen: #cee89c;
$green: #6cc034;
$orange: #e36511;
$purple: #834f91;
$indigo: mix($blue, $purple, 25%);
$fushia: #FA5E5B;
$gray: #ccc;
$text: #484848;
$litegray: #bcbcbc;

// dark colors
// $dark-red: #c6432c;
// $dark-blue: #337799;
// $dark-yellow: #f5b300;
// $dark-green: #5ba221;
$dark-red: darken($red, 6.25%);
$dark-orange: darken($orange, 6.25%);
$dark-blue: darken($blue, 6.25%);
$dark-yellow: darken($yellow, 6.25%);
$dark-ygreen: darken($ygreen, 12.5%);
$dark-green: darken($green, 12.5%);
$dark-bluegreen: darken($bluegreen, 12.5%);
$dark-purple: darken($purple, 12.5%);
$dark-indigo: darken($indigo, 12.5%);
$dark-fushia: darken($fushia, 25%);

// light colors
$lt-red: lighten($red, 12.5%);
$lt-orange: lighten($orange, 12.5%);
$lt-blue: lighten($blue, 12.5%);
$lt-yellow: lighten($yellow, 6.25%);
$lt-ygreen: lighten($ygreen, 12.5%);
$lt-green: lighten($green, 12.5%);
$lt-bluegreen: lighten($bluegreen, 12.5%);
$lt-purple: lighten($purple, 12.5%);
$lt-indigo: lighten($indigo, 12.5%);
$lt-fushia: lighten($fushia, 12.5%);

// base colors
$baseColor: $bluegreen !default;
$baseColorDark: $dark-bluegreen !default;

// fonts
$serif: "Georgia", Times, serif !default;
$sans-serif: "Helvetica", "Helvetica Neue", "fira-sans", Helvetica, Arial, "Lucida Grande", sans-serif !default;
$baseFontWeight: 300 !default;
$baseFontSize: 1rem !default;

// sizes



// transitions
$transition-duration: 375ms !default;
$transition-func: ease-in-out !default;
$animation-func: ease !default;


// z-index
$z-layers: (
  "top":            9999,
  "almost-top":     9998,
  "default":            1,
  "below":             -1,
  "waydownthere":   -9000
)
