.tabs {
    list-style: none inside;
    margin-bottom: -2px;
    z-index: 5;
    li {
        padding: 1rem 2.5rem .875rem;
        border: 1px solid $gray;
        border-bottom: none;
        background: rgba(gray, .375);
        margin-right: .5rem;
        border-radius: .375rem .375rem 0 0;
        line-height: 1;
        font-weight: 400;
        display: block;
        float: left;
        font-size: 1.125rem;
        @include respond-to(handhelds) {
            width: 100%;
            border-radius: 0;
        }
        a {
            text-align: center;
            text-decoration: none;
            color: rgba(gray, .75);
        }
    }
    &::after {
        content: "";
        clear: both;
        display: block;
    }
    &--link-active {
        background: white !important;
        a {
            color: $blue !important;
        }
    }
    &--content {
        z-index: 4;
        padding: 2rem;
        font-size: 1.25rem;
        border: 1px solid $gray;
    }
    &--active {
    }
}
