* {
    padding: 0;
    margin: 0;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html {
  font: 400 100%/1.4 $sans-serif;
  background: $offwhite;
  box-sizing: border-box;
}
.container {
  margin: .5rem auto;
  max-width: 68rem;
  padding: .5rem;
  &::after {
      @extend %clearfix;
  }
}
