*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font: 400 100%/1.4 $sans-serif;
  background: $offwhite;
}
.container {
  margin: .5rem auto;
  max-width: 68rem;
  padding: .5rem;
  &::after {
      content: "";
      clear: both;
      display: table;
  }
}
