// colors
$offwhite: #fffcfc;
$black: #202020;
$red: #d04d36;
$blue: #5486a4;
$yellow: #ffba00;
$green: #6cc034;
$gray: #ccc;
$text: #484848;

//dark colors
$dark-red: #c6432c;
$dark-blue: #4d7893;
$dark-yellow: #f5b300;
$dark-green: #62ae2f;

// fonts
$serif: "Georgia", Georgia, serif;
$sans-serif:  "Avenir", "Helvetica", "fira-sans", sans-serif;
