// colors
$offwhite: #fffcfc;
$black: #202020;
$red: #d04d36;
$blue: #5486a4;
$yellow: #ffba00;
$green: #6cc034;

//dark colors
$dark-red: #c6432c;
$dark-blue: #4d7893;
$dark-yellow: #f5b300;
$dark-green: #62ae2f;
