$sans-serif: Source Sans Pro, Myriad Pro, Proxima Nova Condensed, Avenir, Proxima Nova,  Chaparral Pro;
// $baseFontSize: 1.25rem;
// $transition-duration: 2s;

@import "arsenal";

$app-color: $bluegreen;
$app-color_dark: $dark-bluegreen;

.app--header {
    padding: 1.5rem 0;
    border-top: .25rem solid $app-color;
    background: rgba($app-color, .75);
    svg {
        max-width: 12.5rem;
        max-height: 100%;
        width: 100%;
        height: auto;
        float: left;
        fill: $app-color;
        transition: fill $transition-duration linear;
        &:hover { fill: mix($app-color_dark, $black); }
    }
    .container {
        max-width: 93%;
        padding: 0;
        margin: 0 auto;
    }
    &_logo {
      display: block;
      float: left;
    }
    &_nav {
      float: right;
      ul {list-style: none;}
      li {
        display: inline-block;
        padding: 0 .25rem;
      }
    }
    a { color: white; }
}

.app--footer {
  text-transform: uppercase;
  letter-spacing: 2px;
  .icon {
    width: 3rem;
    height: 3rem;
    display: inline-block;
    vertical-align: middle;
  }
}

.app--intro {
    width: 100%;
    background: rgba($app-color, .625);
    padding: 1rem;
    color: white;
    h1, h2 { color: darken($app-color, 1); }
    &::after { @extend %clearfix; }
    .first {
      @include respond-to(medium-screens) {
          width: 100% !important;
          float: none;
      }
    }
    .col3 {
        width: percentage(1/3);
        padding: 2rem;
        float: left;
        @include respond-to(medium-screens) { width: 50%; }
        @include respond-to(handhelds) { width: 100%; padding: .5rem; }
    }
}

.section--heading {
    color: $app-color;
    font-weight: 700;
    text-align: center;
    margin-top: 1rem;
    &::after {
      content: "";
      width: 3rem;
      height: .125rem;
      background: $app-color;
      display: block;
      margin: .5rem auto 2rem;
    }
    &_sub {
      color: $text;
      font-weight: 700;
      margin: 1.5rem 0;
      text-align: left !important;
      &::after {
        content: "";
        width: 3rem;
        height: .125rem;
        background: $text;
        display: block;
        margin: .5rem 0 2rem;
      }
    }
}

.comment--thread { max-width: 48rem; margin: 0 auto; }

#mediaobjects, #modals, #colors, #icons, #bullets { text-align: center; }

.grid--item {
  display: inline-block;
  width: 3rem;
  height: 2rem;
  margin: .5rem;
  svg {
    max-width: 100%;
    max-height: 100%;
    fill: $app-color;
    overflow: hidden;
  }
}

.item { margin: .5rem; }

.color {
  &--fill {
    border-radius: .5rem;
    width: 8.5rem;
    height: 3rem;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      margin: auto;
      bottom: -1.20rem;
      left: 0;
      right: 0;
      text-indent: -24.5%;
      text-transform: lowercase;
      line-height: 2;
      border-left: 1.25rem solid transparent;
      border-right: 1.25rem solid transparent;
      font-weight: 700;
      font-family: Menlo, monospace;
    }
  }
  &--container {
    display: inline-block;
    vertical-align: top;
    margin: .25rem;
    text-align: center;
    min-height: 6.5rem;
  }
  $colors: offwhite $offwhite, black $black, red $red, blue $blue, yellow $yellow, green $green, gray $gray, litegray $litegray, text $text, orange $orange, bluegreen $bluegreen, indigo $indigo, purple $purple, fushia $fushia, ygreen $ygreen, dark-blue $dark-blue, dark-red $dark-red, dark-yellow $dark-yellow, dark-green $dark-green, dark-ygreen $dark-ygreen, dark-bluegreen $dark-bluegreen, dark-orange $dark-orange, dark-indigo $dark-indigo, dark-fushia $dark-fushia, dark-purple $dark-purple, lt-red $lt-red, lt-orange $lt-orange, lt-ygreen $lt-ygreen, lt-green $lt-green, lt-blue $lt-blue, lt-yellow $lt-yellow, lt-bluegreen $lt-bluegreen, lt-indigo $lt-indigo, lt-purple $lt-purple, lt-fushia $lt-fushia;
  @each $color in $colors {
    &--fill_#{"" +nth($color, 1)} {
      background: nth($color, 2);
      &::before {
        content: "$#{"" +nth($color, 1)}";
        color: white;
        font-weight: 300;
        font-size: .875rem;
        position: absolute;
        top: 0; bottom: 0; left: 0; right: 0;
        padding: .75rem;
        text-align: center;
        width: 100%;
      }
      &::after {
        content: "#{nth($color, 2)}";
        border-top: 1.25rem solid nth($color, 2);
      }
    }
  }
}

.col {
  &-1-4 {
    float: left;
    width: 23.5%;
    padding: .5rem;
    margin-right: 2%;
    @include respond-to(medium-screens) { width: 50%; margin-right: 0; }
    @include respond-to(handhelds) { width: 100%; }
    &:last-child { margin-right: 0; }
  }
  &-2-4 {
    float: left;
    width: 49%;
    padding: .5rem;
    margin-right: 2%;
    @include respond-to(medium-screens) { width: 50%; margin-right: 0; }
    @include respond-to(handhelds) { width: 100%; }
    &:last-child { margin-right: 0; }
  }
  &-3-4 {
    float: left;
    width: 74.5%;
    padding: .5rem;
    margin-right: 2%;
    &:last-child { margin-right: 0; }
  }
  &-4-4 {
    float: left;
    padding: .5rem;
    width: 100%;
  }
}
